.login {
  background-image: url(../../../assets/img/back.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.loginContainer {
  background: rgba(0, 0, 0, 0.5);

  margin-top: 120px;
  box-shadow: -1px 1px 50px 10px black;
}
ul {
  margin-bottom: 30px;
  padding-left: 0px;
}
ul a {
  color: white;
  font-size: 25px;
}
ul a:hover {
  text-decoration: none;
  color: gray;
}
.selected {
  border-bottom: 2px solid #f44c89;
  padding: 10px;
}
label {
  font-size: 20px;
  font-weight: normal;
  color: white;
}

// Error alert
.ng-valid[required],
.ng-valid.required {
  border-bottom: 2px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-bottom: 2px solid #a94442; /* red */
}

// default form field setup
.form-control {
  background: transparent;
  border: 0px;
  border-radius: 0px;
  outline: none;
  color: white;
  margin-bottom: 10px;
  border-bottom: 1px solid #f44c89;
  padding: 5px;
  font-size: 20px;
  height: 30px;
  margin-bottom: 5px;
}
.form-control:focus {
  outline: none;
  border-bottom: 2px solid #f44c89;
}

.btn-info {
  width: 360px;
  background: transparent;
  border: 1px solid #f44c89;
  font-size: 20px;
  margin-top: 10px;
}
.btn-info:hover {
  background: #f44c89;
}
.forgotpass {
  color: gray;
  font-size: 18px;
  margin-top: 40px;
}
small {
  color: white;
}
img {
  width: 400px;
  height: 400px;
  z-index: 1;
  opacity: 1;
}
